# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.vscode
.idea
.DS_Store
bin
log
logs
shell/
go.sum
db_data/
nginx/
node_modules/
package-lock.json
dist/